@page
@model ADevSolvedIt.Pages.AboutModel
@{
    ViewData["Title"] = "About - A Dev Solved It";
}

<div class="row">
    <div class="col-12 col-lg-8">
        <h2 class="mb-3">TL;DR</h2>

        <div class="section-content mb-5">
            <p>I'm building here a library of useful solutions to software development problems.</p>

            <p>They can be about any programming language, platform, or tool. They can be simple, but they can also be complex; and they should be written in a concise manner.</p>

            <p>The important thing is that they should be as useful as possible to developers who will google the problem (or something related) in the future.</p>

            <p>Have a look around and, if you like the project, <a asp-page="/account/register" asp-area="identity" style="text-decoration: underline">create an account</a> or add a bookmark, then come back here to write a post yourself when you run into something that might be useful to others.</p>
        </div>

        <h2 class="mb-3">The longer read</h2>

        <div class="section-content mb-5">

            <p>Developing software is generally fun, but it can sometimes be frustrating when you lose too much time tackling a particular problem.</p>

            <p>In most situations, you find solutions with a few Google searches, end up on Stack Overflow, on official documentation sites, on some blog, or you get that content with Generative AI.</p>

            <p>But sometimes your particular problem doesn't have solutions online, and you spend some time combining ideas, trying different things, and coming up with a solution of your own.</p>

            <p>It would be great if you would share your solution at that point.</p>

            <p>Developing software is significantly easier now because developers before us have shared so much knowledge online. It only makes sense to pay it forward and share your own solutions when you find them.</p>

            <p><span style="font-weight: 700">A Dev Solved It</span> is one of the places where you can easily share your solutions.</p>

            <p>Here:</p>

            <ul>
                <li>You write posts using <span style="font-weight: 700">Markdown</span> for easy formatting and to properly include code.</li>
                <li>The code is getting <span style="font-weight: 700">syntax highlighting</span> automatically.</li>
                <li>Signing up and logging in takes just a few seconds with <span style="font-weight: 700">Google or GitHub authentication</span>.</li>
            </ul>

            <p>Posts are meant to be relatively short and on point, using a clear structure: <span style="font-weight: 700">problem + solution</span>, with future Googlers able to <span style="font-weight: 700">thank the author</span>, letting them know when their post helped.</p>

            <p>The content is licensed under a permissive <span style="font-weight: 700">Creative Commons license</span>, CC BY-SA 4.0, so it can be freely used and adapted, even commercially, as long as appropriate credit is given.</p>

            <p>Some developers have blogs, that's also a good place to share solutions. But a lot of developers don't, and A Dev Solved It makes sharing easy for them.</p>
        
            <p>Even for people with blogs, sometimes a technical solution doesn't fit the style of their blog; they might prefer a more story-based approach. When they share a solution on A Dev Solved It, they can leave a link to their blog, and that link gets <span style="font-weight: 700">do-followed</span>, which helps increase their blog's Google PageRank.</p>

            <p>So look around, see how some of the existing posts are structured, and, if you like the format, come back here to write a post yourself when you run into something shareable.</p>

        </div>

        <h2 class="mb-3">Looking for early collaborators</h2>

        <div class="section-content">
            <p>This project is in its early stages. If you want to get involved more by regularly writing posts, or eventually helping out with developing small features, it would help a lot.</p>

            <p>Early collabolators would get to own a part of the project. Just leave a comment on any of the posts, including your email address in its respective field. I'll contact you back and we can discuss from there.</p>
        </div>
    </div>
    <div class="about-side col-lg-4 d-none d-lg-block">
    </div>
</div>